	
<div class="text-center">
	<p><img src="{{model.avatar_url}}" height="180px" width="180px"/></p>
	<p>{{model.followers}} Followers</p>
	<p>{{model.following}} Following</p>
</div>
<p>Name:{{model.name}}</p>
<p>Email:{{model.email}}</p>
<p>Location:{{model.location}}</p>
